# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# local env files
.env*.local

# typescript
*.tsbuildinfo

# instructor guide (not pushed)
INSTRUCTOR_GUIDE.md
